<p id="notice"><%= notice %></p>

<h1 align="center" style="font-family:Proxima Nova; font-size:35px">Announcement</h1>

<p align="center">
<p align="center" style="font-family:Proxima Nova; font-size:20px">
  <strong>Subject:</strong>
  <%= @announcement.subject %>
</p>

<p align="center" style="font-family:Proxima Nova; font-size:20px">
  <strong>Content:</strong>
  <%= @announcement.content %>
</p>

<p align="center" style="font-family:Proxima Nova; font-size:20px">
  <strong>Date posted:</strong>
  <%= @announcement.date_posted %>
</p>

<h3 align="center">
<%= link_to 'Edit', edit_announcement_path(@announcement) %> |
<%= link_to 'Back', announcements_path %>
</h3>