<p id="notice"><%= notice %></p>

<h1 align="center" style="font-family:Proxima Nova; font-size:35px">Bills</h1>

<p align="center" style="font-family:Proxima Nova; font-size:20px">
  <strong>Apartment number:</strong>
  <%= @bill.apartment_number %>
</p>

<p align="center" style="font-family:Proxima Nova; font-size:20px">
  <strong>Rent:</strong>
  <%= @bill.rent %>
</p>

<p align="center" style="font-family:Proxima Nova; font-size:20px">
  <strong>Electricity bill:</strong>
  <%= @bill.electricity_bill %>
</p>

<p align="center" style="font-family:Proxima Nova; font-size:20px">
  <strong>Water bill:</strong>
  <%= @bill.water_bill %>
</p>

<p align="center" style="font-family:Proxima Nova; font-size:20px">
  <strong>Due date:</strong>
  <%= @bill.due_date %>
</p>
<h3 align="center">
<p>
  <strong>Status:</strong>
  <%= @bill.status %>
</p>


<% if current_user.username == "admin" %><%= link_to 'Edit', edit_bill_path(@bill) %> |<% end %>
<%= link_to 'Back', bills_path %>
</h3>
